:root {
    --bright-green: rgb(0, 255, 151);
    --green: rgb(0, 162, 96);
    --bright-blue: rgb(0, 131, 236);
}

main {
    display: flex;
    flex-direction: row;
}


@scope (main) {

    @keyframes glow-fade {
        14% {
            text-shadow: 0 0 50px var(--bright-green),
                0 0 50px var(--bright-green),
                0 0 50px var(--bright-green);
        }

        100% {
            text-shadow: none;
        }
    }

    @keyframes fade {
        0% {
            opacity: 100%;
        }

        33% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
        }
    }

    h2.head {
        padding-right: 50px;
    }

    h2.subhead {
        font-family: Courier;
        color: black;
        -webkit-text-stroke: 0px;
        font-size: 14px;
        margin-bottom: 45px;
    }

    h3.game-page {
        font-size: 17px;
        color: rgb(30, 30, 30);
    }

    p.new[name="overall-best"] {
        color: var(--bright-green);
        font-weight: bold;
        -webkit-text-stroke: var(--green) 1px;
        animation-name: glow-fade;
        animation-duration: 3.5s;
    }

    [name="current-score"] {
        >.score-side-text {
            display: none;
        }
    }

    .best[name="current-score"] {
        color: var(--green);

        >.score-side-text {
            color: var(--bright-green);
            opacity: 0%;
            animation-name: fade;
            animation-duration: 3s;
            display: block;
        }
    }

    p.score-side-text {
        font-size: 16px;
        padding-top: 19px;
        -webkit-text-stroke: 0px;
        font-weight: bold;
    }

    p.score-side-text.new-setter {
        color: var(--bright-green);
    }

    p.number.new[name="pers-best"] {
        color: var(--bright-blue);
    }

    .number-area {
        display: flex;
        flex-direction: row;
        color: var(--score-blue);
    }

    .share {
        display: none;
        font-size: 16px;
        color: rgb(30, 30, 30);
    }

    .share.new-best {
        display: block;
    }

    .share > a {
        margin-left: 5px;
        vertical-align: middle;
        margin-left: 8px;
        text-decoration: none;
    }

    section.best-score {
        padding-top: 30px;
    }

    p.number {
        font-family: starsight;
    }

    .score {
        padding-right: 17px;
        font-size: 46px;
    }

    section.sidebar {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    div.scores {
        padding-bottom: 45px;
    }

    div.best-hits {
        flex: 1 0 30px;
    }

    .errorMsg.game {
        padding-bottom: 10px;
    }

    .hit {
        font-size: 25px;
        padding-right: 11px;
        padding-top: 3px;
    }

    .hit-side-text {
        font-size: 13px;
        padding-right: 17px;
        padding-top: 10px;
        font-weight: bold;
    }

    .hit.personal.new {
        color: var(--bright-blue);
    }

    .hit-side-text.new-setter {
        color: var(--bright-green);
    }

    .hit.overall.new {
        color: var(--bright-green);
    }

    section.window {
        text-align: center;
        flex: 1 0 880px;
        margin-top: 5px;
    }

    canvas.unclicked {
        cursor: pointer;
        background-color: white;
    }

    canvas.unclicked:hover {
        opacity: 0.8;
    }

    @media (max-width: 1199px) {
        section.sidebar {
            position: absolute;
            top: 660px;
        }
    }

}