@font-face {
    font-family: Tengwar;
    src: url("tengwar.ttf");
}

main.secret {
    display: block;
}

pre {
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: Tengwar;
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    color: white;
}