@font-face {
    font-family: starsight;
    src: url(starsight.ttf);
}

* {
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(160, 160, 160);
}

h1 {
    text-align: center;
    font-size: 20px;
    background-color: rgb(200, 200, 200);
}

h2 {
    line-height: 0.2;
    font-size: 28px;
    padding-top: 30px;
}

h2.subhead {
    font-size: 16px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

p.score-side-text {
    padding-top: 15px;
}

div.score-display[name="current"] {
    color: rgb(0, 80, 160);
}

.score-display {
    display: flex;
    flex-direction: row;
}

.share {
    font-size: 15px;
}

section:nth-child(2) {
    padding-top: 20px;
}

section:nth-child(3) {
    padding-top: 20px;
}

.share > a {
    text-decoration: none;
}

p.score {
    font-family: starsight;
    padding-right: 15px;
    font-size: 40px;
}

div.window {
    position: absolute;
    left: 300px;
    top: 50px;
}

div.best-hits {
    padding-top: 70px;
}

.hit {
    font-family: starsight;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
}

.hit-side-text {
    font-size: 15px;
    padding-right: 15px;
    padding-top: 6px;
}

footer {
    padding-top: 25px;
}