* {
    font-family: Courier;
}

h1 {
    font-family: Impact;
    text-align: center;
    font-size: 22px;
}

h2 {
    line-height: 0.2;
    font-size: 28px;
}

h2.subhead {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: 0;
    margin-bottom: 40px;
}

h3 {
    margin-top: 40px;
}
