@font-face {
    font-family: starsight;
    src: url(starsight.ttf);
}

* {
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(160, 160, 160);
}

h1 {
    text-align: center;
    font-size: 25px;
    background-color: rgb(200, 200, 200);
}

input {
    margin-top: 15px;
    background-color: white;
}

button {
    margin-top: 10px;
    background-color: rgb(200, 200, 200);
}