@font-face {
    font-family: starsight;
    src: url(starsight.ttf);
}

* {
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(160, 160, 160);
    margin: 0px;
}

main {
    margin-left: 5px;
}

nav {
    display: block;
}

nav > .navlink {
    background-color: white;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
    border: 3px solid rgb(200, 200, 200);
    margin-right: 5px;
}

/*/* 
nav > #current {
    background-color: rgb(160, 160, 160);
    border: none;
}
/**/

h1 {
    text-align: center;
    font-size: 28px;
    background-color: rgb(200, 200, 200);
}

h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: starsight;
    color: black;
    -webkit-text-stroke: rgb(160, 160, 160) 1px;
}

input {
    margin-top: 20px;
    background-color: white;
    font-size: 18px;
}

label {
    font-size: 16px;
}