@font-face {
    font-family: starsight;
    src: url(starsight.ttf);
}

* {
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(160, 160, 160);
}

h1 {
    text-align: center;
    font-size: 25px;
    background-color: rgb(200, 200, 200);
}

h2 {
    font-family: starsight;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
}

footer {
    padding-top: 25px;
}

table {
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}

table > th {
    color: red;
}

td {
    font-size: 14px;
    padding-top: 4px;
    border-left: 1px solid black;
    padding-right: 10px;
}

th {
    text-align: left;
    border-left: 1px solid black;
}

table.hit > tr {
    border-bottom: 1px solid black;
}

th.rank {
    width: 70px;
}

th.player {
    width: 100px;
}

tr.spare > td {
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

footer {
    padding-top: 20px;
}
