@font-face {
    font-family: starsight;
    src: url(starsight.ttf);
}

* {
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(160, 160, 160);
    margin: 0px;
}

main {
    margin-left: 5px;
}

nav {
    display: flex;
}

nav > .navlink {
    background-color: white;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
    border: 3px solid rgb(200, 200, 200);
    margin-right: 10px;
}

/*/*/ 
nav > .current {
    background-color: rgb(160, 160, 160);
    border-color: rgb(160, 160, 160);
    border-top: 0px;
}
/**/

.navlink:hover {
    background-color: rgb(224, 224, 224);
    border-color: rgb(160, 160, 160);
    border-top: 0px;
}

h1 {
    text-align: center;
    font-size: 28px;
    background-color: rgb(200, 200, 200);
}

h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: starsight;
    color: black;
    -webkit-text-stroke: rgb(160, 160, 160) 1px;
    padding-top: 33px;
    padding-bottom: 16px;
}

h3 {
    color: rgb(80, 80, 80);
}

main {
    display: flex;
    flex-direction: row;
}

table {
    font-size: 22px;
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    font-size: 17px;
    padding-top: 5px;
    border-left: 1px solid black;
    padding-right: 11px;
}

th {
    text-align: left;
    border-left: 1px solid black;
}

section:nth-child(2) {
    padding-left: 70px;
}

th.rank {
    width: 77px;
}

th.player {
    width: 110px;
}

tr.spare > td {
    font-size: 12px;
    padding-top: 0px;
    border-bottom: 1px solid black;
    font-weight: bold;
    height: 14px;
}

.score {
    padding-right: 30px;
    border-right: 1px solid black;
}

.personal {
    > h3 {
        margin-top: 30px;
    }

    > table { 
        th {
            font-size: 20px;
        }

        tr {
            td {
                padding-top: 2px;
                font-size: 16px;
            }
        }

        .spare td {
            font-size: 11px;
        }
    }
}

@media (max-width: 1100px) {
    main {
        display: block;
    }

    section:nth-child(2) {
        padding-left: 0px;
        margin-top: 50px;
    }

    .score {
        border-right: none;
        border-bottom: 1px solid black;
        padding-bottom: 30px;
    }
}

