main {
    display: block;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(170, 170, 170);
}

input {
    margin-top: 20px;
    background-color: white;
    font-size: 18px;
}

label {
    font-size: 16px;
}


button {
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

footer {
    margin-left: 5px;
    margin-top: 50px;
    font-size: 17px;
    font-weight: bold;
}
