.body.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main.home {
    flex: 1 0 180px;
    display: block;
}

div.form {
    margin-top: 10px;
    margin-left: 15px;
}

button:hover {
    background-color: rgb(170, 170, 170);
}

input {
    margin-top: 20px;
    background-color: white;
    font-size: 18px;
}

label {
    font-size: 16px;
    margin-right: 9px;
    font-weight: bold;
}

button {
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    margin-right: 9px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

footer {
    width: 116px;
    text-align: center;
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
}

p#author {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
}