@scope (.loginBody) {

/*/*
label {
    font-family: starsight;
    color: rgb(160, 160, 160);
    -webkit-text-stroke: rgb(20, 20, 20) 1px;
    font-size: 20px;
}
/**/
button {
    font-size: 16px;
    margin-top: 16px;
    background-color: rgb(200, 200, 200);
}

footer {
    margin-top: 50px;
    font-size: 17px;
    font-weight: bold;
}
}