@font-face {
    font-family: Tengwar;
    src: url("tengwar.ttf");
}

* {
    background-color: gray;
}

pre {
    font-family: Tengwar;
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    color: white;
}