@scope (.scoresBody) {

h2 {
    padding-top: 33px;
    padding-bottom: 0px;
}

h3 {
    margin-top: 30px;
}

main {
    display: flex;
    flex-direction: row;
}

table {
    font-size: 22px;
    border: 2px solid black;
    border-collapse: collapse;
}

section {
    display: block;
}

td {
    font-size: 17px;
    padding-top: 5px;
    border-left: 1px solid black;
    padding-right: 11px;
}

th {
    text-align: left;
    border-left: 1px solid black;
}

section:nth-child(2) {
    margin-left: 100px;
}

th.rank {
    width: 77px;
}

th.player {
    width: 110px;
}

tr.spare > td {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

@media (max-width: 1000px) {
    main {
        display: block;
    }

    section:nth-child(2) {
        margin-left: 0px;
        margin-top: 100px;
    }
}

}