@font-face {
    font-family: starsight;
    src: url(../starsight.ttf);
}

:root {
    --backg: rgb(170, 170, 170);
    --light-gray: rgb(200, 200, 200);
    --near-white: rgb(230, 230, 230);
    --score-blue: rgb(0, 0, 144);
}

* {
    font-family: Courier;
    background-color: var(--backg);
    margin: 0px;
}

main {
    margin-left: 5px;
}

nav {
    display: flex;
    height: 28px;
    background-color: var(--backg);
    font-size: 15px;
    font-family: starsight;
}

nav > p {
    padding-right: 30px;
    > span {
        font-weight: bold;
    }
}

.navlink {
    background-color: white;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
    border: 3px solid var(--light-gray);
}

.main > .navlink {
    margin-right: 10px;
}

.navlink.active {
    background-color: var(--backg);
    border-color: var(--backg);
    border-top: 0px;
}

.navlink:hover {
    background-color: var(--near-white);
    border-color: var(--backg);
    border-top: 0px;
}

nav > .main {
    display: flex;
    flex: 1 0 0px;
}

h1 {
    text-align: center;
    font-size: 28px;
    background-color: var(--light-gray);
}

h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: starsight;
    color: black;
    -webkit-text-stroke: var(--backg) 1px;
}

.errorMsg {
    display: block;
    margin-top: 6px;
    font-weight: bold;
    padding-bottom: 10px;
}

.errorMsg.bad {
    color: rgb(140, 32, 32);
    font-weight: normal;
}

.errorMsg.good {
    color: rgb(0, 120, 71);
}